.wrapbo {
    background-color: #122223;
    margin-top: -10px;
    margin-bottom: -20px;
}

.heading {
    /* border: 2px solid black; */
    /* border-top: 10px solid black; */
    text-align: center;
    width: 220px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    background-color: #122223;
    color: #da9e63;
    font-size: 28px;
    /* box-shadow: 0px 0px 20px coral; */
    font-family: monospace;
    /* font-family: cursive; */
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 800;
}

.lists {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: url('./HiRes-17-1024x615.jpg'); */
    background-color: #122223;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-bottom: -40px; */
    /* height: 600px; */
}

.pro {
    /* border: 2px solid green; */
    width: 30%;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    background-color: #eae5d2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.pro:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px black;
    transition-duration: 0.4s;
}



.pro {
    display: flex;
}

.pro>img {
    width: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.info span {
    font-weight: 800;
}

.info a {
    color: #eae5d2;
    text-align: center;
    background-color: #122223;
    width: 100px;
    border-radius: 10px;
    padding: 4px;
    margin-top: 10px;

}

.info a:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #122223;
}

@media screen and (max-width: 600px) {
    .lists {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px auto;

    }


    .pro {
        margin: 10px auto;
        width: 80%;
        height: 20%;

    }

    .info {

        margin: 10px auto;
        margin-left: 20px;

    }
}