.wrapbo {
    background-color: black;
    margin-top: -10px;
}

.heading {
    /* border: 2px solid black; */
    border-top: 10px solid black;
    text-align: center;
    width: 200px;
    border-radius: 8px;
    margin: 10px auto;
    padding: 10px;
    background: coral;
    color: azure;
    font-size: 28px;
    box-shadow: 0px 0px 20px coral;

    font-family: cursive;
}

.lists {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: url('./HiRes-17-1024x615.jpg'); */
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
}

.pro {
    /* border: 2px solid green; */
    width: 30%;
    margin: 10px auto;
    border-radius: 8px;
    padding: 10px;
    height: 100px;
    background-color: azure;
    font-family: cursive;
    margin-top: 20px;
}

.pro:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px black;
    transition-duration: 0.4s;
}



.pro {
    display: flex;
}

.pro>img {
    width: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.info span {
    font-weight: 800;
}

.info a {
    color: white;
    text-align: center;
    background-color: coral;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px coral;

}

.info a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 600px) {
    .lists {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px auto;

    }


    .pro {
        margin: 10px auto;
        width: 80%;
        height: 20%;

    }

    .info {

        margin: 10px auto;
        margin-left: 20px;

    }
}