@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 650px;
  color: #303179;
  background-color: #122223;
  font-family: 'Baloo Bhai 2', cursive;
}

.skills h1 {
  color: #141850;
  background-color: #122223;
  /* box-shadow: 0px 0px 20px azure; */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 40px;
  color: #da9e63;
}

.skills .list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.item {
  /* border: 2px solid red; */
  width: 240px;
  background-color: #eae5d2;

  box-shadow: 0px 0px 10px azure;
  border-radius: 8px;
  height: 280px;
  margin-left: 40px;
}

.list span li {
  font-size: 20px;
  padding: 4px;
  text-align: center;
  color: #141850;
  /* margin-top: 0px; */
}

.item:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-duration: 400ms;
}

.item h2 {
  color: black;
  text-align: center;
  font-size: 30px;
}

.wrap {
  margin-top: -20px;
  /* background-image: url('./ache.jpg'); */
  background-color: #122223;
  background-repeat: no-repeat;
  width: 100vw;
  /* box-shadow: 0px 0px 40px coral; */
  background-size: cover;
}

.achv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  width: 300px;
  margin: 10px auto;

  margin-top: 20px;
  /* box-shadow: 0px 0px 20px azure; */
  font-weight: 750;
  color: #141850;
  font-size: 40px;
  color: #da9e63;
  background-color: #122223;
}

.honors {
  /* border: 2px solid red; */
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  flex-flow: wrap;
  padding: 10px;
}

.item svg {
  color: #141850;
  margin-top: 4px;
  padding: 4px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.awards {
  /* border: 2px solid black; */

  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #303179;
  background-color: #eae5d2;
  box-shadow: 0px 0px 20px #eae5d2;
  /* margin: 10px 200px; */
  /* margin-left: 200px; */
  font-family: cursive;
  margin: 0px auto;
  width: 25%;
  height: 15%;



}

.awards:hover {
  transform: scale(1.1);
  transition-duration: 400ms;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 40px #eae5d2;
}

.awards>ul>li {
  list-style-type: none;
  padding: 10px;

}

.awards svg {
  color: #141850;
}

.coding {
  /* border: 2px solid black; */
  border-right: 2px solid coral;
  border-bottom: 2px solid coral;
  display: flex;
  flex-direction: column;
  background-color: #eae5d2;
  box-shadow: 0px 0px 20px #eae5d2;
  font-family: cursive;
  width: 300px;
  margin: 0px auto;
  border: 10px;
  width: 25%;
  height: 15%;
  /* margin-left: 600px; */
}

.coding svg {
  color: #141850;
}

.coding a {
  text-decoration: none;
  font-family: cursive;
  color: #303179;
  margin-top: 10px;
  padding: 10px;
  font-size: 20px;
}



.temp:hover {
  font-weight: 800;
  /* background-color: coral; */
}

.temp {
  padding: 4px;
}



@media screen and (max-width: 600px) {

  .skills {
    height: 100%;
  }


  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 20px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 90%;
  }

  .item {
    margin: 10px auto;
  }


  .awards {
    height: 40%;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
  }

  .coding {
    width: 80%;
    height: 40%;
    margin: 10px auto;
    border-radius: 10px;

  }


}